<div class="container top30">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img [src]="artist.images | sinfoto" class="img-thumbnail rounded" alt="...">
              </div>
        </div>

        <div class="col-md-9 text-center">
            <h1>{{ artist.name }}</h1>
            <a type="button" class="btn btn-success" [href] = "artist.external_urls.spotify" 
                target="_blank">
                Ver en Spotify
            </a>
            <button type="button" class="btn btn-primary" [routerLink] = "['/search']">Regresar</button>
        </div>

    </div>
    <div class="row top30">
        <div class="col-md-12 text-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary" 
                    *ngFor="let track of tracks">
                    <img [src]="track.album.images | sinfoto" alt="..." class="float-left img-thumbnail-min">
                    <h2 class="text-center">
                            {{ track.album.name }}.
                    </h2>
                </li>
            </ul>
        </div>

    </div>
</div>