<div clas="top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input type="text"
        placeholder="Buscar artista..."
        class="form-control"
        (keyup)="buscarArtista()"
        [(ngModel)]="termino">

    </div>
    <div class="col-md-9">
      <h1 class="text-capitalice">{{termino}}</h1>
      <hr *ngIf="termino">
      
      <div class="row">
        <li class="col-md-3 text-center puntero" *ngFor="let artista of _spotifyService.artistas">
          <img [src]="artista.images | sinfoto" [alt]="artista.name"
            class="img-thumbnail">
            <p>{{ artista.name }}</p>

        </li>
      </div>
    <!--   <ul>
        <li *ngFor="let artista of _spotifyService.artistas">
          {{artista.name}}
        </li>
      </ul> -->
    </div>
  </div>
</div>
