<div clas="top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input type="text"
        placeholder="Buscar artista..."
        class="form-control"
        (keyup)="searchArtist()"
        [(ngModel)]="term">

    </div>
    <div class="col-md-9">
      <h1 class="text-capitalice">{{term}}</h1>
      <hr *ngIf="term">
      
      <div class="row">
        <li class="col-md-3 text-center puntero" *ngFor="let artist of _spotifyService.artists"
        [routerLink]="['/artist', artist.id]">
          <img [src]="artist.images | sinfoto" [alt]="artist.name"
            class="img-thumbnail">
            <p>{{ artist.name }}</p>

        </li>
      </div>
    <!--   <ul>
        <li *ngFor="let artista of _spotifyService.artistas">
          {{artista.name}}
        </li>
      </ul> -->
    </div>
  </div>
</div>
